MQTT_HOST=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=ptit/int14149/b23dcat250/telemetry
INFLUX_URL=http://localhost:8086
INFLUX_ADMIN_USERNAME=admin
INFLUX_ADMIN_PASSWORD=replace_with_a_strong_password
INFLUX_TOKEN=replace_with_a_long_random_token
INFLUX_ORG=ptit
INFLUX_BUCKET=iot_raw
INFLUX_PROCESSED_BUCKET=iot_processed
THINGSBOARD_HOST=mqtt.thingsboard.cloud
THINGSBOARD_PORT=1883
THINGSBOARD_TOKEN=replace_with_device_access_token

